form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label + input {
    width: 30%;
    margin: 0 30% 0 4%;
}

input + input {
    float: right;
}

h2,h1,h3,h4
{
text-align:center;

}

h4
{

color:red;
}

#centerbuttons {width:100px;margin:0 auto;}       

#centerbuttons1 {width:130px;margin:0 auto;} 


#link-container {
    
    width:70px;margin:0 auto;
}

#link-container1 {
    
    width:350px;margin:0 auto;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}